-r requirements.txt
autoflake==1.4
bandit==1.7.0
black==21.10b0
commitizen==2.20.0
isort==5.10.0
liccheck==0.6.2
mkdocs==1.2.3
mkdocs-material==6.2.7
mypy==0.910
nest-asyncio==1.5.1
pre-commit==2.15.0
psutil==5.8.0
pylint==2.11.1
pytest>=6.2.3
pytest-asyncio==0.16.0
pytest-cov==3.0.0
pytest-xdist==2.4.0
pytoml==0.1.21
setuptools==58.5.3
shellcheck-py==0.7.2.1
twine==3.5.0
wheel==0.36.2
